<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.graph.sequence.mapper.GraphNodePropertyMapper">

    <resultMap id="BaseResultMap" type="com.bonc.graph.sequence.domain.GraphNodeProperty">
        <id column="node_property_id" property="nodePropertyId"/>
        <result column="node_id" property="nodeId"/>
        <result column="property_key" property="propertyKey"/>
        <result column="property_value" property="propertyValue"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO graph_node_property (
        node_id, property_key, property_value, create_time, update_time
        ) VALUES
        <foreach collection="properties" item="item" separator=",">
            (
            #{item.nodeId}, #{item.propertyKey}, #{item.propertyValue},
            #{item.createTime}, #{item.updateTime}
            )
        </foreach>
    </insert>

    <delete id="deleteByNodeIds">
        DELETE FROM graph_node_property WHERE node_id IN
        <foreach collection="nodeIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectByNodeId" resultMap="BaseResultMap">
        SELECT * FROM graph_node_property WHERE node_id = #{nodeId}
    </select>

    <delete id="deleteBySequenceId">
        DELETE FROM graph_node_property
        WHERE node_id IN (SELECT node_id FROM graph_node WHERE sequence_id = #{sequenceId})
    </delete>

    <delete id="deleteByNodeTemplateId">
        DELETE FROM graph_node_property
        WHERE node_id IN (SELECT node_id FROM graph_node WHERE node_template_id = #{nodeTemplateId})
    </delete>

    <select id="selectByNodeIds" resultMap="BaseResultMap">
        SELECT * FROM graph_node_property
        WHERE node_id IN
        <foreach collection="nodeIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

<!--    <insert id="batchInsert">-->
<!--        INSERT INTO graph_node_property (-->
<!--        node_id, property_key, property_value, create_time, update_time-->
<!--        ) VALUES-->
<!--        <foreach collection="properties" item="item" separator=",">-->
<!--            (#{item.nodeId}, #{item.propertyKey}, #{item.propertyValue}, NOW(), NOW())-->
<!--        </foreach>-->
<!--    </insert>-->

    <delete id="batchDeleteByNodeIds">
        DELETE FROM graph_node_property WHERE node_id IN
        <foreach collection="nodeIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>