<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.graph.sequence.mapper.GraphRelationMapper">

    <resultMap id="BaseResultMap" type="com.bonc.graph.sequence.domain.GraphRelation">
        <id column="relation_id" property="relationId"/>
        <result column="relation_hash" property="relationHash"/>
        <result column="relation_template_id" property="relationTemplateId"/>
        <result column="relation_template_name" property="relationTemplateName"/>
        <result column="relation_name" property="relationName"/>
        <result column="relation_type" property="relationType"/>
        <result column="relation_trigger" property="relationTrigger"/>
        <result column="start_node_hash" property="startNodeHash"/>
        <result column="end_node_hash" property="endNodeHash"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="field_id" property="fieldId"/>
        <result column="topic_id" property="topicId"/>
        <result column="article_id" property="articleId"/>
        <result column="sequence_id" property="sequenceId"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO graph_relation (
        relation_hash, relation_template_id, relation_template_name, relation_name, relation_type, relation_trigger,
        start_node_hash, end_node_hash, create_time, update_time,
        field_id, topic_id, article_id, sequence_id
        ) VALUES
        <foreach collection="relations" item="item" separator=",">
            (
            #{item.relationHash}, #{item.relationTemplateId}, #{item.relationTemplateName}, #{item.relationName}, #{item.relationType}, #{item.relationTrigger},
            #{item.startNodeHash}, #{item.endNodeHash}, #{item.createTime}, #{item.updateTime},
            #{item.fieldId}, #{item.topicId}, #{item.articleId}, #{item.sequenceId}
            )
        </foreach>
    </insert>

    <delete id="deleteBySequenceId">
        DELETE FROM graph_relation WHERE sequence_id = #{sequenceId}
    </delete>

    <delete id="deleteByRelationTemplateId">
        DELETE FROM graph_relation WHERE relation_template_id = #{relationTemplateId}
    </delete>

    <select id="selectBySequenceId" resultMap="BaseResultMap">
        SELECT * FROM graph_relation WHERE sequence_id = #{sequenceId}
    </select>

    <select id="selectDistinctByArticleId" resultMap="BaseResultMap">
        SELECT
            t.relation_id,
            t.relation_hash,
            t.relation_template_id,
            t.relation_template_name,
            t.relation_name,
            t.relation_type,
            t.relation_trigger,
            t.start_node_hash,
            t.end_node_hash,
            t.create_time,
            t.update_time,
            t.field_id,
            t.topic_id,
            t.article_id,
            t.sequence_id
        FROM (
                 SELECT
                     *,
                     ROW_NUMBER() OVER (PARTITION BY relation_hash ORDER BY create_time ASC) AS rn
                 FROM graph_relation
                 WHERE article_id = #{articleId}
             ) t
        WHERE t.rn = 1
    </select>

    <select id="selectDistinctByTopicId" resultMap="BaseResultMap">
        SELECT
            t.relation_id,
            t.relation_hash,
            t.relation_template_id,
            t.relation_template_name,
            t.relation_name,
            t.relation_type,
            t.relation_trigger,
            t.start_node_hash,
            t.end_node_hash,
            t.create_time,
            t.update_time,
            t.field_id,
            t.topic_id,
            t.article_id,
            t.sequence_id
        FROM (
                 SELECT
                     *,
                     ROW_NUMBER() OVER (PARTITION BY relation_hash ORDER BY create_time ASC) AS rn
                 FROM graph_relation
                 WHERE topic_id = #{topicId}
             ) t
        WHERE t.rn = 1
    </select>

    <select id="selectDistinctByFieldId" resultMap="BaseResultMap">
        SELECT
            t.relation_id,
            t.relation_hash,
            t.relation_template_id,
            t.relation_template_name,
            t.relation_name,
            t.relation_type,
            t.relation_trigger,
            t.start_node_hash,
            t.end_node_hash,
            t.create_time,
            t.update_time,
            t.field_id,
            t.topic_id,
            t.article_id,
            t.sequence_id
        FROM (
                 SELECT
                     *,
                     ROW_NUMBER() OVER (PARTITION BY relation_hash ORDER BY create_time ASC) AS rn
                 FROM graph_relation
                 WHERE field_id = #{fieldId}
             ) t
        WHERE t.rn = 1
    </select>

</mapper>