<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.graph.sequence.mapper.GraphRelationMapper">

    <resultMap id="BaseResultMap" type="com.bonc.graph.sequence.domain.GraphRelation">
        <id column="relation_id" property="relationId"/>
        <result column="relation_hash" property="relationHash"/>
        <result column="relation_name" property="relationName"/>
        <result column="relation_type" property="relationType"/>
        <result column="relation_trigger" property="relationTrigger"/>
        <result column="start_node_hash" property="startNodeHash"/>
        <result column="end_node_hash" property="endNodeHash"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="field_id" property="fieldId"/>
        <result column="topic_id" property="topicId"/>
        <result column="article_id" property="articleId"/>
        <result column="sequence_id" property="sequenceId"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO graph_relation (
        relation_hash, relation_name, relation_type, relation_trigger,
        start_node_hash, end_node_hash, create_time, update_time,
        field_id, topic_id, article_id, sequence_id
        ) VALUES
        <foreach collection="relations" item="item" separator=",">
            (
            #{item.relationHash}, #{item.relationName}, #{item.relationType}, #{item.relationTrigger},
            #{item.startNodeHash}, #{item.endNodeHash}, #{item.createTime}, #{item.updateTime},
            #{item.fieldId}, #{item.topicId}, #{item.articleId}, #{item.sequenceId}
            )
        </foreach>
    </insert>

    <delete id="deleteBySequenceId">
        DELETE FROM graph_relation WHERE sequence_id = #{sequenceId}
    </delete>

    <select id="selectBySequenceId" resultMap="BaseResultMap">
        SELECT * FROM graph_relation WHERE sequence_id = #{sequenceId}
    </select>

    <select id="selectDistinctByArticleId" resultMap="BaseResultMap">
        SELECT DISTINCT ON (relation_hash) * FROM graph_relation WHERE article_id = #{articleId}
    </select>

</mapper>