<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.graph.project.mapper.GraphArticleMapper">
    <resultMap id="ArticleMap" type="Article" >
        <result property="articleId"    column="article_id"    />
        <result property="articleName"    column="article_name"    />
        <result property="createMethod"    column="create_method"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="topicId"    column="topic_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <!-- 新增图谱-->
    <insert id="addArticle" parameterType="Article">
        insert into graph_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null and articleId != ''">article_id,</if>
            <if test="articleName != null and articleName != ''">article_name,</if>
            <if test="createMethod != null and createMethod != ''">create_method,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="fileUrl != null and fileUrl != ''">file_url,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="fileSize != null and fileSize != ''">file_size,</if>
            <if test="topicId != null and topicId != ''">topic_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null and articleId != ''">#{articleId},</if>
            <if test="articleName != null and articleName != ''">#{articleName},</if>
            <if test="createMethod != null and createMethod != ''">#{createMethod},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="fileSize != null and fileSize != ''">#{fileSize},</if>
            <if test="topicId != null and topicId != ''">#{topicId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateArticle">
        update graph_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="articleName != null">article_name = #{articleName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where article_id = #{articleId}
    </update>

    <update id="deleteArticle">
        update graph_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where article_id = #{articleId}
    </update>

    <select id="selectArticle" resultMap="ArticleMap">
        select article_id ,article_name  from graph_article
        <where >
            del_flag = '0'
            <if test="condition != null and !''.equals(condition)">
                and article_name like '%'|| #{condition}|| '%'
            </if>
            <if test="topicId != null and !''.equals(topicId)">
                and topic_id = #{topicId}
            </if>
        </where>
    </select>
    <select id="getFileUrl">
        select file_url  from graph_article
        where article_id = #{articleId}
    </select>

    <!--    根据topicId查找articles-->
    <select id="selectArticlesByTopicId" resultMap="ArticleMap">
        select * from graph_article where topic_id = #{oldTopicId}
    </select>

<!--    批量插入-->
    <insert id="batchInsertArticles" parameterType="java.util.List">
        INSERT INTO graph_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list != null and list.size() > 0">
                <if test="list[0].articleId != null and list[0].articleId != ''">article_id,</if>
                <if test="list[0].articleName != null and list[0].articleName != ''">article_name,</if>
                <if test="list[0].createMethod != null and list[0].createMethod != ''">create_method,</if>
                <if test="list[0].fileName != null and list[0].fileName != ''">file_name,</if>
                <if test="list[0].fileUrl != null and list[0].fileUrl != ''">file_url,</if>
                <if test="list[0].fileType != null and list[0].fileType != ''">file_type,</if>
                <if test="list[0].fileSize != null and list[0].fileSize != ''">file_size,</if>
                <if test="list[0].topicId != null and list[0].topicId != ''">topic_id,</if>
                <if test="list[0].createBy != null and list[0].createBy != ''">create_by,</if>
            </if>
        </trim>
        VALUES
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.articleId != null and item.articleId != ''">#{item.articleId},</if>
                <if test="item.articleName != null and item.articleName != ''">#{item.articleName},</if>
                <if test="item.createMethod != null and item.createMethod != ''">#{item.createMethod},</if>
                <if test="item.fileName != null and item.fileName != ''">#{item.fileName},</if>
                <if test="item.fileUrl != null and item.fileUrl != ''">#{item.fileUrl},</if>
                <if test="item.fileType != null and item.fileType != ''">#{item.fileType},</if>
                <if test="item.fileSize != null and item.fileSize != ''">#{item.fileSize},</if>
                <if test="item.topicId != null and item.topicId != ''">#{item.topicId},</if>
                <if test="item.createBy != null and item.createBy != ''">#{item.createBy},</if>
            </trim>
        </foreach>
    </insert>
</mapper>